html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Georgia, Times, serif;
  font-size: 20px;
  line-height: 23px;
  color: #545454;

}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

a {
  text-decoration: none;
}

.button {
  display: block;
  box-sizing: border-box;
  width: 207px;
  height: 52px;
  padding: 15px 45px;

  font-family: Georgia, serif;
  font-style: normal;
  font-size: 17px;
  line-height: 22px;
  text-align: center;

  background-color: #F1CDB3;
  border-radius: 100px;
}

.button:hover,
.button:active {
  background-color: #FDDCC4;
}

.container {
  padding-right: 40px;
  padding-left: 40px;

  background-color: #FFFFFF;
}

.wrapper {
  width:1200px;
  margin: 0 auto;
}

.our-pets-header {
  margin-bottom: 60px;
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
}

.our-pets__heading {
  margin: 0;
  margin-bottom: 10px;

  color: #545454;
}

.our-pets__heading + span {
  font-family: Arial, sans-serif;
  font-style: normal;
  font-size: 13px;
  line-height: 15px;
  color: #292929;
}

.our-pets__navigation-list {
  margin: 0;
  margin-top: 23px;
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.our-pets__navigation-list a {
  font-family: Arial, sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #545454;
}

.our-pets__navigation-item_curent {
  border-bottom: 3px solid #F1CDB3;
}

.our-pets__navigation-item {
  margin-right: 35px;
}

.our-pets {
  background-color: #F6F6F6;
}

our .our-pets__heading {
  margin: 0;
  padding-top: 80px;
  margin-bottom: 60px;

  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}

.our-pets-list {
  margin:0;
  padding: 0 40px;
  margin-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.our-pets__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #FAFAFA;

  list-style: none;
}

.our__pet-image {
  margin-bottom: 30px;
}

.our-pets__pet-name {
  margin-bottom: 30px;
}

.our-pets__pet-link {
  margin-bottom: 30px;

  color: #292929;

  background-color: #FAFAFA;
  border: 2px solid #F1CDB3;
}

.our-pets > .button {
  margin:0 auto;
  width: 261px;

  color: #292929;
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 100px;
  width: 340px;

  list-style: none;
}

.paginaton__item {
  position: relative;
}

.paginaton__item a {
  display: block;
  box-sizing: border-box;


  width: 52px;
  height: 52px;

  font-size: 0;
  color: transparent;

  border: 2px solid #CDCDCD;
  border-radius: 50%;
}

.paginaton__item:nth-child(1)::before {
  content: "<<";

  position: absolute;
  top: 25%;
  left: 25%;


  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #CDCDCD;
  cursor: pointer;
}

.paginaton__item:nth-child(2)::before {
  content: "<";

  position: absolute;
  top: 25%;
  left: 35%;


  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #CDCDCD;
  cursor: pointer;
}

.paginaton__item:nth-child(3)::before {
  content: "1";

  position: absolute;
  top: 25%;
  left: 40%;


  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;

  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #292929;

  cursor: pointer;
}

.paginaton__item:nth-child(3) {
  box-sizing: border-box;
  width: 52px;
  height: 52px;

  background-color: #F1CDB3;

  border-radius: 50%;
}

.paginaton__item:nth-child(3) a {
  border: none;
}

.paginaton__item:nth-child(4) a {
  border-color: #F1CDB3;
}

.paginaton__item:nth-child(4)::before {
  content: ">>";

  position: absolute;
  top: 25%;
  left: 30%;


  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;

  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #292929;
  cursor: pointer;
}

.paginaton__item:nth-child(5)::before {
  content: ">";

  position: absolute;
  top: 25%;
  left: 40%;


  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;

  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #292929;
  cursor: pointer;
}

.paginaton__item:nth-child(5) a {
  border-color: #F1CDB3;
}

main + .container {
  background-image: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
}

.our-pets-footer {
  display: flex;
  padding-top: 56px;
  padding-bottom: 60px;
}

.our-pets-footer__contacts {
  margin-right: 160px;
  width: 245px;
}

.our-pets-footer__contacts  b {
  display: block;
  margin-bottom: 45px;

  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  color: #FFFFFF;
}

.our-pets-footer__contacts address {
  display: flex;
}

.our-pets-footer__contacts address:first-of-type {
  margin-bottom: 50px;
}

.our-pets-footer__contacts a {
  position: relative;

  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  color: #F1CDB3;
}


.our-pets-footer__contacts address:first-of-type::before {
  content: "";

  margin-right: 20px;
  width: 40px;
  height: 26px;

  background-image: url("../../assets/images/mail.svg");
}


.our-pets-footer__contacts address:last-of-type::before {
  content: "";

  margin-right: 20px;
  width: 40px;
  height: 32px;

  background-image: url("../../assets/images/phone.svg");
}

.our-pets-footer__addresses  b {
  display: block;
  margin-bottom: 34px;
  width: 250px;

  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  color: #FFFFFF;
}

.our-pets-footer__addresses address {
  position: relative;

  display: block;
  padding-left: 42px;

  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}

.our-pets-footer__addresses address::before {
  content: "";

  position: absolute;
  left:0;

  width: 22px;
  height: 32px;

  background-image: url("../../assets/images/pin.svg");
}

.our-pets-footer__addresses address:first-of-type {
  margin-bottom: 37px;
}

.our-pets-footer {
  position: relative;
}

.our-pets-footer::after {
  content: "";

  position: absolute;
  bottom: 0;
  right: 0;
  width: 300px;
  height: 310px;
  background-image: url("../../assets/images/footer-puppy.png");
}
