html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Georgia, Times, serif;
  font-size: 20px;
  line-height: 23px;
  color: #545454;

}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

a {
  text-decoration: none;
}

.button {
  display: block;
  box-sizing: border-box;
  width: 207px;
  height: 52px;
  padding: 15px 45px;

  font-family: Georgia, serif;
  font-style: normal;
  font-size: 17px;
  line-height: 22px;
  text-align: center;
  vertical-align: middle;

  background-color: #F1CDB3;
  border-radius: 100px;
}

.button:hover,
.button:active {
  background-color: #FDDCC4;
}

.container {
  padding-right: 40px;
  padding-left: 40px;

  background-image: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
}

.wrapper {
  width:1200px;
  margin: 0 auto;
}

.main-header {
  margin-bottom: 60px;
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
}

.main-header__heading {
  margin: 0;
  margin-bottom: 10px;

  color: #F1CDB3;
}

.main-header__heading + span {
  font-family: Arial, sans-serif;
  font-style: normal;
  font-size: 13px;
  line-height: 15px;
  color: #ffffff;
}

.main-header__navigation-list {
  margin: 0;
  margin-top: 23px;
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.main-header__navigation-list a {
  font-family: Arial, sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #FAFAFA;
}

.main-header__navigation-item_curent {
  border-bottom: 3px solid #F1CDB3;
}

.main-header__navigation-item {
  margin-right: 35px;
}

.not-only {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.not-only__container {
  display: flex;
  padding-top: 163px;
  flex-direction: column;
  width: 460px;
}

.not-only__container + img {
  width: 698px;
  height: 728px;
}

.not-only__lead {
  margin: 0;
  margin-bottom: 42px;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 57px;
  color: #ffffff;
}

.not-only__text {
  margin: 0;
  margin-bottom: 42px;

  font-family: Arial, sans-serif;
  font-style: normal;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #CDCDCD;
}

.main-about {
  padding-top: 80px;
  padding-right: 175px;
  padding-bottom: 100px;
  padding-left: 175px;
  display: flex;
  justify-content: space-between;
}

.main-about__paragraph {
  width: 430px;
}

.main-about__heading {
  margin: 0;
  margin-bottom: 25px;

  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
}

.main-about__text {
  margin: 0;

  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #4C4C4C;
}

.main-about__text:first-of-type {
  margin-bottom: 25px;
}

.main-carousel {
  padding-top: 80px;
  padding-bottom: 100px;
  padding-left: 145px;
  padding-right: 145px;

  background-color: #F6F6F6;
}

.main-carousel-heading {
  margin: 0;
  margin-bottom: 60px;

  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  text-align: center;
}

.main-carousel__list {
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
}

.main-carousel__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #FAFAFA;
}

.main-carousel__pet-image {
  margin-bottom: 30px;
}

.main-carousel__pet-name {
  margin-bottom: 30px;
}

.main-carousel__pet-link {
  margin-bottom: 30px;

  color: #292929;

  background-color: #FAFAFA;
  border: 2px solid #F1CDB3;
}

.main-carousel > .button {
  margin:0 auto;
  width: 261px;

  color: #292929;
}

.main-help {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-help__heading {
  margin: 0;
  margin-top: 80px;
  margin-bottom: 80px;
  width: 308px;

  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  text-align: center;
}

.main-help__list {
  margin: 0;
  margin-bottom: 100px;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 1026px;

  list-style: none;
}

.main-help__list li {
  margin-right: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-help__list li:first-child {
  margin-bottom: 55px;
}

.main-help__list li:nth-child(5),
.main-help__list li:nth-child(9) {
  margin-right: 0px;

}

.main-help__list li::before {
  content: "";

  width: 48px;
  height: 60px;
  margin-bottom: 30px;
}

.main-help__list li:nth-child(1)::before {

  background-image: url("../../assets/images/Vector.svg");
}

.main-help__list li:nth-child(2)::before {
  width: 60px;
  height: 60px;

  background-image: url("../../assets/images/transportation.svg");
}

.main-help__list li:nth-child(3)::before {
  width: 60px;
  height: 60px;

  background-image: url("../../assets/images/toys.svg");
}

.main-help__list li:nth-child(4)::before {
  width: 60px;
  height: 57px;

  background-image: url("../../assets/images/bowls-and-cups.svg");
}

.main-help__list li:nth-child(5)::before {
  width: 32px;
  height: 60px;

  background-image: url("../../assets/images/shampoos.svg");
}

.main-help__list li:nth-child(6)::before {
  width: 60px;
  height: 55px;

  background-image: url("../../assets/images/vitamins.svg");
}

.main-help__list li:nth-child(7)::before {
  width: 60px;
  height: 60px;

  background-image: url("../../assets/images/medicines.svg");
}

.main-help__list li:nth-child(8)::before {
  width: 60px;
  height: 53px;

  background-image: url("../../assets/images/collars-or-leashes.svg");
}

.main-help__list li:nth-child(9)::before {
  width: 57px;
  height: 60px;

  background-image: url("../../assets/images/sleeping-area.svg");
}
